:root {
    --primary-50: #F8F7F3;
    --primary-100: #F1EFE8;
    --primary-200: #E6E3DB;
    --primary-300: #CFCCBE;
    --primary-400: #B5B09B;
    --primary-500: #9B9378;
    --primary-600: #7C765F;
    --primary-700: #5B5748;
    --primary-800: #3E3B32;

    --surface-0: #FFFFFF;
    --surface-100: #F5F5F4;
    --surface-400: #A8A29E;
    --surface-500: #78716C;
    --surface-700: #44403C;
    --surface-900: #1C1917;

    --red-400: #EE8080;
    --red-500: #E45757;

    --green-100: #E2FAEB;
    --green-200: #C7F4D7;
    --green-500: #46C173;
    --green-600: #3AA461;
}

@layer base {
    @keyframes fade-out {
        from {
          opacity: 1;
        }
        to {
          opacity: 0;
          display: none;
        }
      }
      
      @keyframes move-in {
        from {
          transform: translateY(100%);
          opacity: 0;
          display: none;
        }
        to {
          transform: translateY(0);
          opacity: 1;
          display: block;
        }
      }
      
      @keyframes move-out {
        to {
          transform: translateY(100%);
          opacity: 0;
          display: none;
        }
      }
      
      .move-in {
        animation: move-in 0.35s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
      
      .move-out {
        animation: move-out 0.35s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
      }
      
      .fade-out {
        animation: fade-out 0.35s cubic-bezier(0.55, 0.085, 0.68, 0.53) forwards;
      }
}

@layer components {
    /* Main Background */
    .bg-main-background-color {
        background-color: var(--primary-50);
    }

    /* Navigation */
    .navigation-item {
        background-color: transparent;
    }

    .navigation-item:hover {
        background-color: var(--primary-200);
    }

    .navigation-item-selected {
        background-color: var(--primary-300);
    }

    .navigation-item-selected:hover {
        background-color: var(--primary-400);
    }
    
    .navigation-item-text {
        color: var(--primary-600);
    }

    .navigation-item-text:hover {
        color: var(--primary-700);
    }

    /* Primary Button */
    .primary-btn-border {
        border-width: 1px;
        border-radius: 0.5rem;
        border-color: var(--primary-400);
    }

    .primary-btn-bg-color {
        background-color: var(--surface-0);
    }

    .primary-btn-bg-color:hover {
        background-color: var(--primary-400);
    }

    .primary-btn-text-color {
        color: var(--primary-600);
    }

    .primary-btn-text-color:hover {
        color: var(--surface-900);
    }

    /* Input */
    .form-textarea-border {
        outline: 1px solid var(--primary-200);
    }

    .form-textarea-border:focus-within {
        outline: 2px solid var(--primary-400);
    }

    .input-box{
        border-radius: 0.5rem;
        outline: 1px solid var(--primary-400);
        color: var(--primary-600);
    }

    .input-box::placeholder {
        color: var(--surface-400);
    }

    .input-box:focus-within {
        border-radius: 0.5rem;
        outline: 2px solid var(--primary-400);
        color: var(--surface-900);
    }

    /* Major Area */
    .major-area-border {
        border-left-width: 1px;
        border-top-width: 1px;
        border-start-start-radius: 1rem;
        border-color: var(--primary-400);
    }

    .major-area-bg-color {
        background-color: var(--surface-0);
    }

    /* Conversation Item */
    .conversation-item-border {
        border-radius: 0.5rem;
    }
    
    .conversation-item-bg-color {
        background-color: transparent;
    }

    .conversation-item-bg-color:hover {
        background-color: var(--primary-400);
    }

    .conversation-item-text-color {
        color: var(--surface-500);
    }

    .conversation-item-text-color:hover {
        color: var(--surface-900);
    }

    .conversation-selected-item-bg-color {
        background-color: var(--primary-100);
    }

    .conversation-selected-item-bg-color:hover {
        background-color: var(--primary-400);
    }

    .conversation-selected-item-text-color {
        color: var(--primary-700);
    }

    .conversation-selected-item-text-color:hover {
        color: var(--surface-900);
    }

    .conversation-folder-item {
        background-color: transparent;
        border: 2px solid transparent;
    }

    .conversation-folder-item:hover {
        background-color: var(--primary-50);
    }

    .conversation-folder-item-text {
        color: var(--surface-500);
        font-weight: 500;
    }

    .conversation-folder-item-text:hover {
        color: var(--surface-900);
    }

    .conversation-send-button {
        background-color: var(--primary-500);
        color: var(--surface-0);
    }
    
    .conversation-send-button:hover {
        background-color: var(--primary-600);
        color: var(--surface-0);
    }

    .conversation-send-button:disabled {
        background-color: var(--primary-200);
        color: var(--surface-0);
    }

    .conversation-stop-button {
        background-color: var(--red-400);
        color: var(--surface-0);
    }

    .conversation-stop-button:hover {
        background-color: var(--red-500);
        color: var(--surface-0);
    }

    /* Frame */
    .frame-right-border {
        border-right-width: 1px;
        border-color: var(--primary-100);
    }

    .frame-separator-border-color {
        border-color: var(--primary-100);
    }

    /* Settings */
    .settings-category-item {
        border-radius: 0.5rem;
        background-color: transparent;
    }

    .settings-category-item:hover {
        border-radius: 0.5rem;
        background-color: var(--primary-50);
    }

    .settings-category-item-text {
        color: var(--surface-500);
    }
    
    .settings-category-selected-item {
        border-radius: 0.5rem;
        background-color: var(--primary-100);
    }

    .settings-category-selected-item-text {
        color: var(--primary-700);
    }

    /* Api Management */
    .settings-provider-item {
        background-color: transparent;
        border-radius: 0.5rem;
        border-width: 1px;
        border-color: var(--primary-100);
    }
    
    .settings-provider-item:hover {
        background-color: var(--primary-100);
    }

    .settings-provider-item-text {
        color: var(--surface-500);
    }

    .settings-provider-item-text:hover {
        color: var(--surface-900);
    }

    .settings-provider-item-selected {
        background-color: var(--primary-100);
        border-radius: 0.5rem;
        border-width: 1px;
        border-color: transparent;
    }

    .settings-provider-item-selected:hover {
        background-color: var(--primary-100);
    }

    .settings-provider-item-selected-text {
        color: var(--primary-700);
    }

    .settings-provider-item-selected-text:hover {
        color: var(--surface-900);
    }

    .settings-provider-text-icon{
        background-color: transparent;
        color: var(--primary-700);
        font-weight: bold;
        font-size: 1rem;
        font-family: 'Inter', sans-serif;
    }

    .settings-model-item {
        background-color: var(--primary-50);
        border-radius: 0.5rem;
        border: 1px solid var(--primary-200);
    }

    .settings-model-item-name-text {
        color: var(--primary-700);
    }

    .settings-model-item-id-text {
        color: var(--surface-500);
    }
    
    .settings-model-category-text {
        color: var(--surface-700);
    }

    .settings-model-edit-button {
        background-color: transparent;
        color: var(--primary-600);
    }

    .settings-model-edit-button:hover {
        border-radius: 0.5rem;
        background-color: var(--primary-300);
        color: var(--surface-900);
    }

    .settings-model-edit-button:active {
        background-color: var(--primary-400);
        color: var(--surface-900);
    }

    .settings-model-delete-button {
        border-radius: 0.5rem;
        background-color: transparent;
        color: var(--red-400);
    }

    .settings-model-delete-button:hover {   
        background-color: var(--primary-300);
        color: var(--red-500);
    }
    
    .settings-delete-provider-btn {
        border-radius: 0.5rem;
        background-color: transparent;
        color: var(--red-500);
    }

    .settings-delete-provider-btn:hover {
        background-color: var(--red-400);
        color: var(--surface-0);
    }

    .settings-delete-provider-btn:active {
        transition-duration: 0s;
        background-color: var(--red-500);
        color: var(--surface-0);
    }

    .settings-add-model-btn {
        border-radius: 0.5rem;
        background-color: var(--primary-500);
        color: var(--surface-0);
    }

    .settings-add-model-btn:hover {
        background-color: var(--primary-600);
        color: var(--surface-0);
    }

    .settings-add-model-btn:active {
        transition-duration: 0s;
        background-color: var(--primary-700);
        color: var(--surface-0);
    }

    .settings-add-custom-provider-btn {
        border-radius: 9999px;
        border: 1px solid var(--primary-400);
        background-color: transparent;
        color: var(--primary-700);
    }

    .settings-add-custom-provider-btn:hover {
        background-color: var(--primary-100);
        color: var(--primary-700);
    }

    .settings-add-custom-provider-btn:active {
        background-color: var(--primary-200);
        color: var(--primary-700);
    }

    /* Message */
    .message-model-tag {
        background-color: transparent;
        color: var(--primary-600);
    }

    .message-provider-tag {
        background-color: var(--primary-100);
        border-radius: 9999px;
        color: var(--primary-600);
    }

    .message-user {
        background-color: var(--primary-300);
        color: var(--surface-900);
    }

    .message-assistant {
        background-color: var(--surface-100);
        color: var(--primary-800);
    }

    .message-icon-btn{
        background-color: transparent;
        color: var(--primary-600);
    }

    .message-icon-btn:hover {
        background-color: var(--primary-100);
        color: var(--primary-700);
    }

    .message-icon-btn:active {
        transition-duration: 0s;
        background-color: var(--green-200);
        color: var(--green-500);
    }

    /* Select Model Dialog */
    .select-model-dialog {
        border-radius: 1rem;
        background-color: var(--surface-0);
        color: var(--surface-700);
    }

    .select-model-dialog-close-button {
        color: var(--primary-600);
    }

    .select-model-dialog-close-button:hover {
        background-color: var(--primary-100);
        color: var(--surface-700);
    }

    .select-model-dialog-expand-button {
        border-radius: 0.25rem;
        background-color: var(--primary-100);
        color: var(--primary-600);  
    }

    .select-model-dialog-expand-button:hover {
        background-color: var(--primary-200);
        color: var(--surface-700);
    }

    .select-model-dialog-expand-button:active {
        background-color: var(--primary-300);
        color: var(--surface-900);
    }

    /* Common Buttons */
    .confirm-btn {
        border-radius: 0.5rem;
        background-color: var(--primary-500);
        color: var(--surface-0);
    }

    .confirm-btn:hover {
        background-color: var(--primary-600);
        color: var(--surface-0);
    }

    .confirm-btn:active {
        background-color: var(--primary-700);
        color: var(--surface-0);
    }

    .cancel-btn {
        border-radius: 0.5rem;
        background-color: transparent;
        color: var(--primary-600);
    }

    .cancel-btn:hover {
        background-color: var(--primary-100);
        color: var(--primary-700);
    }

    .cancel-btn:active {
        background-color: var(--primary-200);
        color: var(--primary-700);
    }

    .checkbox-input {
        background-color: var(--surface-0);
        border-radius: 0.5rem;
        border: 1px solid var(--primary-400);
        color: var(--primary-600);
    }

    .checkbox-input:checked {
        background-color: var(--primary-500);
        color: var(--surface-0);
    }

    .checkbox-input:hover {
        background-color: var(--primary-100);
        color: var(--primary-700);
    }

    .checkbox-input:active {
        background-color: var(--primary-200);
        color: var(--primary-700);
    }

    .chat-history-list-collapse-button {
        background-color: var(--primary-100);
    }

    .chat-history-list-collapse-button:hover {
        background-color: var(--primary-200);
    }

    .chat-history-list-collapse-button:active {
        background-color: var(--primary-300);
    }
    
}